<div class="container">
    <h2>Available Examples</h2>
    <div class="list-group">
        
    <a routerLink="abtesting" routerLinkActive="active" class="list-group-item">A/B Testing</a>
    <a href="#" class="list-group-item">Basic Auth</a>
    <a href="#" class="list-group-item">Broken Images</a>
    <a href="#" class="list-group-item">Challenging DOM</a>
    <a href="#" class="list-group-item">Checkboxes</a>
    <a href="#" class="list-group-item">Context Menu</a>
    <a href="#" class="list-group-item">Disappearing Elements</a>
    <a href="#" class="list-group-item">Drag and Drop</a>
    <a href="#" class="list-group-item">Dropdown</a>
    <a href="#" class="list-group-item">Dynamic Content</a>
    <a href="#" class="list-group-item">Dynamic Controls</a>
    <a href="#" class="list-group-item">Dynamic Loading</a>
    <a href="#" class="list-group-item">Exit Intent</a>
    <a href="#" class="list-group-item">File Upload</a>
    <a href="#" class="list-group-item">File Download</a>
    <a href="#" class="list-group-item">Floating Menu</a>
    <a href="#" class="list-group-item">Forgot Password</a>
    <a href="#" class="list-group-item">Form Authentication</a>
    <a href="#" class="list-group-item">Frames</a>
    <a href="#" class="list-group-item">Geolocation</a>
    <a href="#" class="list-group-item">Horizontal Slider</a>
    <a href="#" class="list-group-item">Hovers</a>
    <a href="#" class="list-group-item">Infinite Scroll</a>
    <a href="#" class="list-group-item">JQuery UI Menues</a>
    <a href="#" class="list-group-item">JavaScript Alerts</a>
    <a href="#" class="list-group-item">JavaScript onload event error</a>
    <a href="#" class="list-group-item">Key Presses</a>
    <a href="#" class="list-group-item">Large and Deep DOM</a>
    <a href="#" class="list-group-item">Multiple Windows</a>
    <a href="#" class="list-group-item">Nested Frames</a>
    <a href="#" class="list-group-item">Notification Messages</a>
    <a href="#" class="list-group-item">Redirect Link</a>
    <a href="#" class="list-group-item">Secure File Download</a>
    <a href="#" class="list-group-item">Shifting Content</a>
    <a href="#" class="list-group-item">Slow Resources</a>
    <a href="#" class="list-group-item">Sortable Data Tables</a>
    <a href="#" class="list-group-item">Status Codes</a>
    <a href="#" class="list-group-item">Typos</a>
    <a href="#" class="list-group-item">WYSIWYG Editor</a>

  </div>
</div>